<%= form_for(@cartridge) do |f| %>
  <% if @cartridge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cartridge.errors.count, "error") %> prohibited this cartridge from being saved:</h2>

      <ul>
      <% @cartridge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :colour %><br>
    <%= f.text_field :colour %>
  </div>
  <div class="field">
    <%= f.label :publisher_id %><br>
    <%= f.collection_select(:publisher_id, Publisher.all, :id, :name, :include_blank => true ) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
