<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cartridge.title %>
</p>
<p>
  <strong>Colour:</strong>
  <%= @cartridge.colour %>
</p>
<% if @cartridge.publisher %>
<p>
  <strong>Publisher:</strong>
  <%= @cartridge.publisher.name %>
</p>
<% end %>

<%= link_to 'Edit', edit_cartridge_path(@cartridge) %> |
<%= link_to 'Back', cartridges_path %>
